.reveal .slides section.title-slide {
  display: none !important;
}

/* Title slide: remove all padding in both scrollable and presentation mode */
.reveal .slides section.title-custom {
  padding: 0 !important;
}

html:not(.print-pdf) .reveal .slides section.title-custom {
  padding: 0 !important;
  min-height: 700px !important;
}